################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/databases/holly_guacamoly.sql
