/* 
    Graag deze regel behouden, ondanks dat er misschien geen font-fallback aanwezig is.
    ~ Rohan
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "Museo Sans Rounded Thin";
    src: url(./MuseoSansRounded100.otf);
}

@font-face {
    font-family: "Museo Sans Rounded Normal";
    src: url(./MuseoSansRounded300.otf);
}

@font-face {
    font-family: "Museo Sans Rounded Kinda-Thick";
    src: url(./MuseoSansRounded500.otf);
}

@font-face {
    font-family: "Museo Sans Rounded Fat";
    src: url(./MuseoSansRounded700.otf);
}

@font-face {
    font-family: "Museo Sans Rounded Massive";
    src: url(./MuseoSansRounded900.otf);
}

@font-face {
    font-family: "Museo Sans Rounded Momma-Thick";
    src: url(./MuseoSansRounded1000.otf);
}

@font-face {
    font-family: "CreatoDisplay-Black";
    src: url(./CreatoDisplay-Black.otf);
}

@font-face {
    font-family: "Segoe UI";
    src: url("./Segoe UI.ttf");
}


:root {
    --default-font: "Museo Sans Rounded Kinda-Thick";
}
